<!-- contact section starts -->

<section id="contact" class="contact">

    <h1 class="heading">contacts</h1>

    <div class="contact-box-container mx-auto">

        <div class="contact-box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>mumbai india 404</h3>
        </div>

        <div class="contact-box">
            <i class="fas fa-envelope"></i>
            <h3>xyz@mail.com</h3>
        </div>

        <div class="contact-box">
            <i class="fas fa-phone"></i>
            <h3>0 765 56 76 23</h3>
        </div>

    </div>

    <div class="form-container mx-auto">
        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="first name">
                <input type="text" placeholder="last name">
            </div>
            <input type="email" placeholder="e-mail">
            <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
            <input type="submit">

        </form>
    </div>

</section>

<!-- contact section ends -->

<!-- about section starts -->

<section id="about" class="about container">

    <h1 class="heading">О нас</h1>

    <div class="row align-items-center">

        <div class="col-md-6 image">
            <img src="{% static 'images/about_us.jpeg' %}" width="90%" alt="">
        </div>

        <div class="col-md-6 info">
            <h2>Лучшая компания по установке отопительных систем</h2>
            <p>Отопле́ние — искусственный обогрев помещений с целью возмещения в них теплопотерь и поддержания на заданном уровне температуры, отвечающей условиям теплового комфорта и/или требованиям технологического процесса. Под отоплением понимают также устройства и системы (калориферы, тёплый пол, ИК-обогрев и пр.), выполняющие эту функцию.</p>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- service section starts -->

<section id="service" class="service">

    <h1 class="heading">Услуги</h1>

    <div class="box-container mx-auto">

        <div class="box">
            <div class="fas fa-palette"></div>
            <p>lorem</p>
        </div>

        <div class="box">
            <div class="fas fa-tools"></div>
            <p>Сантехника</p>
        </div>

        <div class="box">
            <div class="fas fa-house"></div>
            <p>Дом</p>
        </div>

        <div class="box">
            <div class="fas fa-bath"></div>
            <p>Ванна</p>
        </div>

    </div>

</section>

<!-- service section ends -->

<!-- project section starts -->

<section id="project" class="project">

    <h1 class="heading">projects</h1>

    <div class="box-container">

        <div class="box">
            <a href="{% static 'images/electricheskoe-otoplenie-doma.jpg' %}" title="house">
                <img src="{% static 'images/electricheskoe-otoplenie-doma.jpg' %}" alt="">
            </a>
        </div>

        <div class="box">
            <a href="{% static 'images/gazovoe.jpeg' %}" title="hall">
                <img src="{% static 'images/gazovoe.jpeg' %}" alt="">
            </a>
        </div>

        <div class="box">
            <a href="{% static 'images/wind.jpg' %}" title="pule">
                <img src="{% static 'images/wind.jpg' %}" alt="">
            </a>
        </div>

        <div class="box">
            <a href="{% static 'images/sun.jpg' %}" title="kitchen">
                <img src="{% static 'images/sun.jpg' %}" alt="">
            </a>
        </div>

    </div>

</section>

<!-- project section ends -->

<!-- contact section starts -->

<section id="contact" class="contact">

    <h1 class="heading">contacts</h1>

    <div class="contact-box-container mx-auto">

        <div class="contact-box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>mumbai india 404</h3>
        </div>

        <div class="contact-box">
            <i class="fas fa-envelope"></i>
            <h3>xyz@mail.com</h3>
        </div>

        <div class="contact-box">
            <i class="fas fa-phone"></i>
            <h3>0 765 56 76 23</h3>
        </div>

    </div>

    <div class="form-container mx-auto">
        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="first name">
                <input type="text" placeholder="last name">
            </div>
            <input type="email" placeholder="e-mail">
            <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
            <input type="submit">

        </form>
    </div>

</section>

<!-- contact section ends -->

