{% extends 'billing/base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px">
    <h3 class="text-center" style="margin-bottom: 30px">Invoice list</h3>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">vendor</th>
      <th scope="col">property</th>
      <th scope="col">invoice_number</th>
      <th scope="col">invoice_date</th>
      <th scope="col">due_date</th>
      <th scope="col">amount_due</th>
    </tr>
  </thead>
  <tbody>
{% for item in object_list %}
        <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{ item.vendor }}</td>
            <td>{{ item.property }}</td>
            <td>{{ item.invoice_number }}</td>
            <td>{{ item.invoice_date }}</td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.amount_due }}</td>
        </tr>
{% endfor %}
  </tbody>
</table>
</div>

{% endblock content %}
